*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    background-color: #181818;
    color: #fff;
}

#botao-marcar{
    width: 200px;
    height: 35px;

    border: 0;
    border-radius: 12px;
    cursor: pointer;
}


h2{
    text-align: center;
}

#area-marcar{
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-color: #5e40ca36;

    border-radius: 12px;

    list-style: none;
    padding: 15px;

    overflow-y: auto;
}
